@page
@model Solita2023Assignment.Pages.Journeys.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Journey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Journey.Id" />
            <div class="form-group">
                <label asp-for="Journey.DepartureStationId" class="control-label"></label>
                <select asp-for="Journey.DepartureStationId" class="form-control" asp-items="ViewBag.DepartureStationId"></select>
                <span asp-validation-for="Journey.DepartureStationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journey.ReturnStationId" class="control-label"></label>
                <select asp-for="Journey.ReturnStationId" class="form-control" asp-items="ViewBag.ReturnStationId"></select>
                <span asp-validation-for="Journey.ReturnStationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journey.DepartureTime" class="control-label"></label>
                <input asp-for="Journey.DepartureTime" class="form-control" />
                <span asp-validation-for="Journey.DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journey.ReturnTime" class="control-label"></label>
                <input asp-for="Journey.ReturnTime" class="form-control" />
                <span asp-validation-for="Journey.ReturnTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journey.DistanceMeters" class="control-label"></label>
                <input asp-for="Journey.DistanceMeters" class="form-control" />
                <span asp-validation-for="Journey.DistanceMeters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journey.DurationSeconds" class="control-label"></label>
                <input asp-for="Journey.DurationSeconds" class="form-control" />
                <span asp-validation-for="Journey.DurationSeconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
